* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
}

main {
	min-height: 100vh;
	background-color: #fafaff;
}

.filter-radio:checked + label {
	background-color: #130160;
	color: white;
}

.filter-radio {
	display: none;
}
