* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', sans-serif;
}

main {
	min-height: 100vh;
	background-color: #fafaff;
}

.filter-radio:checked + label {
	background-color: #130160;
	color: white;
}

.filter-radio {
	display: none;
}

.ReactModal__Overlay {
	z-index: 20;
}

.iframe-full-w iframe {
	width: 100%;
}

main .range-slider .range-slider__range {
	background: #ff9228;
}

main .single-thumb .range-slider__thumb[data-lower] {
	border: none;
}

main .range-slider .range-slider__thumb {
	background: white;
	border: 4px solid #ff9228;
}

/* ------------------------------------------------------------- */

.introduction-form .radio {
	margin: 0.5rem;
}

.introduction-form .radio input[type='radio'] {
	position: absolute;
	opacity: 0;
}

.introduction-form .radio input[type='radio'] + .radio-label:before {
	content: '';
	background: #eaeaea;
	border-radius: 100%;
	border: 1px solid darken(#eaeaea, 25%);
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	top: -0.2em;
	margin-right: 1em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
}

.introduction-form .radio input[type='radio']:checked + .radio-label::before {
	background-color: #ff9228;
	box-shadow: inset 0 0 0 4px #eaeaea;
}
